.header-and-hero {
    background-color: #0B2C2F;
    display: flex;
    flex-direction: column;
    font-family: 'Bitter';
    font-weight: 300;
    color: #F7F6DD;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}


.right-links > ul,
.header-top > img {
    margin: 20px 80px;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
    margin: 80px 0px;
}

.hero > .left-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 80px;    
}

.hero > .right-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-right: 80px;
}

.hero > .right-content > img {
    flex-shrink: 2;
}

.hero > .left-content > h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F7F6DD;
    font-family: 'Playfair Display';
    margin-bottom: 10px;
    /* line-height: 50px; */
}

button {
    /* flex-grow: 0; */
    height: 40px;
    width: 110px;
    background-color: #8FB16A;
    border-radius: 8px;
    border: 0px;
    margin-top: 10px;
    color: #0B2532;
    font-weight: bold;
    font-size: 18px;

}

ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
}

.information {
    text-align: center;
}

.information > h2 {
    margin-top: 40px;
    padding: 20px;
    font-family: 'Bitter';
    font-weight: 600;
    font-size: 36px;
    color: #0B2C2F;
}

.information > .info-boxes {
    display: flex;
    gap: 60px;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 80px;
    flex-wrap: wrap;
    color: #1F2937;
    font-family: 'Bitter';
    font-size: 14px;
}

.information > .info-boxes > .info-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 150px;
}

.quote {
    background-color: #CED5D5;
    color: #1F2937;
    font-family: 'Bitter';
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    padding: 40px 80px;
}

.quote-text {
    margin-bottom: 0px;
}

.quote-author {
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    text-align: right;
    padding-top: 10px;
}

/* .quote > .quote-text {

    padding: 20px;
    width: 800px;
    height: 10px;
    /* flex: initial; 
}*/

/* .quote > .quote-author {
    font-size: 20px;
    font-weight: bold;
    text-align: right;
    width: 800px;
}  */

.call-to-action-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 40px; */
    /* margin: 40px 60px; */
}

.call-to-action-container > .cta {
    display: flex;
    background-color: #8FB16A;
    padding: 45px 80px;
    margin: 90px 160px;
    border-radius: 8px;
    font-family: 'Bitter';
    font-weight: lighter;
    color: #EEEEEE;
}

.cta-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
}

.cta-text > .cta-text-main {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

.cta-button {
    margin-left: 50px;
    margin-right: 10px;
}

.cta-button > .lower-cta button {
    color: #EEEEEE;
    padding: 5px 10px;
    border: 2px solid white;
}

